<div class="content-bg" [class.top]="location === 'top'" [class.middle]="location === 'middle'" [class.bottom]="location === 'bottom'">
</div>
<div class="content top" [class.top]="location === 'top'" [class.middle]="location === 'middle'" [class.bottom]="location === 'bottom'">
  <div class="header"><a [routerLink]="''" style="text-decoration: none">DoF</a></div>
  <div class="links">
    <div>
      <a href="https://iamdof.bandcamp.com">
        <img src="./assets/img/bandcamp-button-bc-circle-grey-32.png" />
      </a>
    </div>
    <div>
      <a href="https://soundcloud.com/dof">
        <img src="./assets/img/soundcloud.png" />
      </a>
    </div>
    <div>
      <a href="https://twitter.com/iamdof">
        <img src="./assets/img/Twitter_Logo_WhiteOnImage.png" />
      </a>
    </div>
  </div>
</div>