<ng-container *ngIf="show | async">
  <app-header [location]="'top'"></app-header>
    <div class="content-bg">
    </div>
    <div class="content">
      <div class="title-container">
        <div class="title-line">a story</div>
        <div class="title-line">about wild animals waking</div>
        <div class="title-line">in their caves</div>
      </div>
      <div class="tracklist-container">
        <div class="track">1. at some darkening coordinate</div>
        <div class="track">2. these little latitudes</div>
        <div class="track">3. flicker, in width and depth</div>
        <div class="track">4. moving like telephone wire</div>
        <div class="track">5. pressed into another</div>
        <div class="track">6. you angled slowly</div>
      </div>
      <div class="links">
        <div class="link">
          <a href="https://music.apple.com/us/album/a-story-about-wild-animals-waking-in-their-caves-ep/1510409861">
            <img src="./assets/img/apple.png" />
          </a>
        </div>
        <div class="link">
          <a href="https://play.google.com/store/music/album?id=Bfdijti4ie7dbken6bcy3axdx7e">
            <img src="./assets/img/googleplay.png" />
          </a>
        </div>
        <div class="link">
          <a href="https://open.spotify.com/album/7ynZZ1SUbRbzBXrgRbWg1V?si=ssF8ugk-SLuwcJiHfRc2ow">
            <img src="./assets/img/spotify.png" />
          </a>
        </div>
      </div>
    </div>
</ng-container>